/* common */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

.d-none {
    display: none;
}

.md {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.op {
    opacity: 0;
}

img {
    display: block;
}

input[type="number"],
input[type="email"],
input[type="text"] {
    outline: none;
    padding: 5px;
    border: 1px solid #999;
    width: 50%;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

/* common-E */
/* header */
/* header-E */
/* contents */
#contents {
    display: flex;
    justify-content: space-between;
}
.userinfo {
    width: 49%;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.userinfo div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.userinfo div span {
    display: block;
    width: 30%;
    text-align: left;
}

.fa-venus {
    color: tomato;
}

.fa-mars {
    color: teal;
}

.userinfo .radio-wrap {
    width: 50%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.radio-wrap input {
    margin: 0 8px;
    width: 20px;
    height: 20px;
}

.userinfo .btn-wrap {
    width: 100%;
    margin: 20px auto 0;
}

button {
    outline: none;
    border: 0;
    background-color: dodgerblue;
    color: white;
    padding: 5px 0;
    width: 45%;
    border-radius: 5px;
    font-size: 20px;
}

/* contents-card */
.card {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

/* contents-card-E */
/* contents-E */
