.wrapper {
    border: 1px solid #000;
    border-radius: 50%;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.img {
    position: absolute;
}

.img0 {
    bottom: 10px;
}
